<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-@property增强下重写get和set方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>12-id类型及应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>13-动态类型检测.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>14-判断对象能否响应指定的方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>15-响应方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>16-构造方法的概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>17-重写构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>18-重写构造方法应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>19-自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>2-传统的get和set方法.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-点语法介绍和使用.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-点语法使用注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-@property关键字介绍及使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-@property使用注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7-@synthesize关键字介绍和使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8-@synthesize指定实例变量赋值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>9-@property增强使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OC05.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>关于superinit的再深入.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D5265341BD223B600EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265421BD223D200EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265501BD227D200EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D52655E1BD22CD400EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265691BD22D1A00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265771BD230BC00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265851BD2351B00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265931BD239CF00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265A41BD2415600EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265B21BD2461400EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265C31BD24D2F00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265D11BD2661900EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265E51BD2917E00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5265F91BD295D700EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D52660D1BD2994200EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D52661B1BD29E2400EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5266291BD2A35500EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D52663A1BD2B1DA00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5266451BD2B24B00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D52665C1BD2BDFB00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
