<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-继承的注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>11-实例变量修饰符介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>12-实例变量修饰符对子类的影响.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>13-OC中的私有变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>14-OC中的私有（相对私有）方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>15-description方法及重写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>17-多态的实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>18-类的本质.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>19-类对象的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>2-self和super关键字介绍.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>20-类对象的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>3-self用在对象方法中.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-self用在类方法中.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-self修饰变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>8-继承的代码实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>9-基类和派生类之间的关系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>OC04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D52666D1BD32DCB00EAF632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD561BD0A14F00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD641BD0A18300515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD721BD0A53500515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD801BD0A83D00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD8E1BD0ACDE00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFD9C1BD1392900515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFDB61BD141CB00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFDD01BD145B500515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFDF01BD14BDB00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFDFE1BD1536400515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE0F1BD1595400515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE201BD15E9000515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE2E1BD1616B00515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE3C1BD16BA200515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE531BD1DD2900515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBEFE611BD1DF5200515587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
