<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-对象作为方法的参数连续传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>12-对象作为方法的参数连续传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>13-练习题讲解1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>14-NSString类介绍及用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>15-NSString字符串长度计算方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>17-多文件实现步骤.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>2-应用:类的创建练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-对象的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-#pragma mark指令的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5-函数和对象方法的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6-常见错误汇总.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>7-对象和方法之间的关系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>8-练习题讲解1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>9-练习题讲解2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OC02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D9392281BCDF9FA007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392361BCDFFAF007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392411BCE0783007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D93924C1BCE1917007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392571BCE1C7B007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392621BCE3850007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D93926D1BCE3F62007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392781BCE4472007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392831BCE4BCA007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D93928E1BCE550D007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392991BCE5AD3007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392A41BCE6D06007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392AF1BCE72A5007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392BA1BCE79F8007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9392C51BCE873B007B970F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
