<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-@property参数1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>11-@property参数2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>12-应用：电商App练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>13-@class的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>14-循环retain问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>15-NSString 类的内存管理问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>16-autorelease基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>3-手动内存管理快速入门.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>4-单个对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>6-单个对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>7-多个对象内存管理（野指针）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>8-多个对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>9-set方法内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>OC07-内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>作业-微博.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D87CA0B1BD685B8004FF1EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514871BD5CE850062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514951BD5CEBF0062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514A31BD5DD7E0062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514B11BD5E52E0062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514BF1BD5EBAD0062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514D01BD5F5030062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514E11BD606920062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9514F21BD62A310062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9515031BD62E530062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D95150E1BD62E8B0062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D95151C1BD636A40062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9515331BD63D210062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D95154A1BD64A860062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D95155B1BD65B980062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9515661BD65DF20062B3C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
