<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-ARC使用特点及注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>11-ARC兼容非ARC的类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-将MRC转换为ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>13-分类(Category)声明和实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>14-分类（Category）使用注意事项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>15-分类（Category）非正式协议.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>16-分类（Category）延展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>17-block的概念及基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>2-autorelease注意及错误用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3-autorelease的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4-应用:创建一个学生类初始化年龄.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>6-ARC快速入门.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>7-ARC下单对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>8-ARC下多对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>9-ARC下循环引用问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OC08-ARC&amp;类别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D3594871BD8BB5800E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594951BD8BB6C00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594A31BD8C32A00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594B71BD8CDAA00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594C51BD8DD2200E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594D31BD9281F00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594E11BD92DE400E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3594F21BD937BB00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3595031BD941F900E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3595111BD944FF00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D35951C1BD9479800E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3595361BD9CB0800E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D35954A1BD9D4EF00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D35955E1BD9DC4A00E99664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB81A491BDA8E4700223CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB81A581BDA9EE000223CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
